.CSV {
    display: grid;
    height: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        'title'
        'Apple'
        'AutoSleep'
        'submit';
    gap: 1em;
}
