@page "/UploadCSV"
<PageTitle>Upload CSV</PageTitle>
@inject VitaQuest.Services.CSVDataService CSVService
<h3>
    Read In CSV
</h3>


<p>Upload Apple Health CSV</p>
<InputFile OnChange="@SingleFileAppleHealthUploadAsync" />

<p>Upload Sleep CSV</p>
<InputFile OnChange="@SingleFileSleepUploadAsync" />

<button @onclick="@SubmitFilesAsync">Upload</button>

@code {
    // this runs on the server
    private string appleHealthData = "";
    private string sleepData = "";

    private async Task SingleFileAppleHealthUploadAsync(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        string outputFileString = System.Text.Encoding.UTF8.GetString(ms.ToArray());
        //save the bytes
        appleHealthData = outputFileString;
    }

    private async Task SingleFileSleepUploadAsync(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        string outputFileString = System.Text.Encoding.UTF8.GetString(ms.ToArray());
        //save the bytes
        sleepData = outputFileString;
    }

    private void SubmitFilesAsync()
    {
        // pass to service
        if (appleHealthData.Length >0)
        {   //send dont wait
            CSVService.processAppleFitnessDataAsync(appleHealthData);
        }

        if (sleepData.Length >0)
        {
            CSVService.processAutoSleepDataAsync(sleepData);
        }
    }
}
