@page "/UploadCSV"
<PageTitle>Upload CSV</PageTitle>
@inject VitaQuest.Services.CSVDataService CSVService

<div class="CSV">
    <h3>Read In CSV</h3>
    <div>
        <p>Upload Apple Health CSV</p>
        <InputFile @key=@(inputAppleFileId) OnChange="@SingleFileAppleHealthUploadAsync" />
    </div>

    <div>
        <p>Upload Sleep CSV</p>
        <InputFile @key=@(inputAutoSleepFileId) OnChange="@SingleFileSleepUploadAsync" />
    </div>
    <div>
        <button @onclick="@SubmitFilesAsync">Upload</button>
    </div>
</div>
@code {
    // this runs on the server
    private string appleHealthData = "";
    private string sleepData = "";

    private Guid inputAppleFileId = Guid.NewGuid();
    private Guid inputAutoSleepFileId = Guid.NewGuid();

    private async Task SingleFileAppleHealthUploadAsync(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        string outputFileString = System.Text.Encoding.UTF8.GetString(ms.ToArray());
        //save the bytes
        appleHealthData = outputFileString;
    }

    private async Task SingleFileSleepUploadAsync(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        string outputFileString = System.Text.Encoding.UTF8.GetString(ms.ToArray());
        //save the bytes
        sleepData = outputFileString;
    }

    private void SubmitFilesAsync()
    {
        // pass to service
        if (appleHealthData.Length >0)
        {   //send dont wait
            CSVService.processAppleFitnessDataAsync(appleHealthData);
            inputAppleFileId = Guid.NewGuid();
        }

        if (sleepData.Length >0)
        {
            CSVService.processAutoSleepDataAsync(sleepData);
            inputAutoSleepFileId = Guid.NewGuid();
        }
    }
}
