@page "/UploadCSV"
<PageTitle>Upload CSV</PageTitle>
@inject VitaQuest.Services.CSVDataService CSVService
<h3>
    Read In CSV
</h3>


<p>Upload Apple Health CSV</p>
<InputFile OnChange="@SingleFileAppleHealthUploadAsync" />

<p>Upload Sleep CSV</p>
<InputFile OnChange="@SingleFileSleepUploadAsync" />

<button @OnClick="SubmitFilesAsync">Upload</button>

@code {
    // this runs on the server
    private byte[] appleHealthData = new byte[] { };
    private byte[] sleepData = new byte[] { };

    private async Task SingleFileAppleHealthUploadAsync(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        //save the bytes
        appleHealthData = ms.ToArray();
    }

    private async Task SingleFileSleepUploadAsync(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        //save the bytes
        sleepData = ms.ToArray();
    }

    private async Task SubmitFilesAsync()
    {
        // pass to service
        if (appleHealthData.Length >0)
        {   //send dont wait
            CSVService.processAppleFitnessDataAsync(appleHealthData);
        }

        if (sleepData.Length >0)
        {
            CSVService.processAutoSleepDataAsync(sleepData);
        }
    }
}
