@page "/UploadCSV"

<PageTitle>Upload CSV</PageTitle>

<h3> Read In CSV </h3>
<InputFile OnChange="@LoadFiles" multiple />

@code {
    private void LoadFiles(InputFileChangeEventArgs e)
    {
        
    }
}
